<table class="table table-bordered">
  <tr class="success">
    <td style="text-align:center"><h4><%= t('terms') %></h4></td>
    <td style="text-align:center"><h4>DF</h4></td>
  </tr>
  <% object.inverted_index.each_with_index do |t, i| %>
    <tr>
    <td><%= t.word %></td>
    <td>
      <% cont = 0 %>
      <% t.location.each_with_index do |l, c| %>
        <% cont =+ c + 1 %>
    <% end %>
      <%= cont %>
    </td>
  </tr>
<% end %>
</table>
