<table class="table table-bordered">
  <tr class="success">
    <td><b><%= t('term') %></b></td>
    <td><b>D1</b></td>
    <td><b>D2</b></td>
    <td><b>D3</b></td>
    <td><b>D4</b></td>
    <td><b>D5</b></td>
    <td><b>D6</b></td>
    <td><b>D7</b></td>
    <td><b>D8</b></td>
  </tr>
  <% vocabulary.get_words.uniq.each do |w| %>
  <% if w != "" %>
  <tr>  
    <td><%= w %></td>
    <% documents.each do |k, v| %>
    <td><%= vocabulary.calc_sim_bm(w,v).round(3) %>
    </td>
    <% end %>
  </tr>
  <% end %>
  <% end %>
</table>