<div id="about" class="modal hide fade">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>About</h3>
  </div>
  <div class="modal-body">
    <p style="text-align:center">Built by <i>Jônatas Santos</i> - PUC Minas </p>
    <p style="text-align:center">Models information retrieval examples.</p>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn"  data-dismiss="modal" aria-hidden="true">Close</a>
  </div>
</div>
